extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn JavaScript comments for beginers';
        var myDescription = 'JavaScript is the programming language of HTML and the Web.';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/comments';

block awsome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Comments
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed quam veritatis fuga, tempora corrupti nemo, omnis quos dignissimos quasi assumenda, ipsum fugiat architecto quaerat quae laboriosam rerum voluptas veniam laborum?