extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn JavaScript operators for beginers';
        var myDescription = 'JavaScript is the programming language of HTML and the Web.';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/operators';

block awsome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Operators
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam enim vero ducimus nostrum eius labore veritatis quod quos repellendus repudiandae quam modi, eos dolor minus in excepturi architecto cumque doloremque!