extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn JavaScript variables for beginers';
        var myDescription = 'JavaScript is the programming language of HTML and the Web.';
        var landingPage = 'JavaScript';
        var activeLink = '/javascript/variables';

block awsome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Variables
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quam aperiam, ea dolorum minus nobis. Animi aliquam ea ipsa est, hic debitis voluptate qui earum, minus sunt eligendi enim expedita.