<!DOCTYPE html>
html(lang="en")
    - var baseURL = 'https://iuliancarnaru.github.io/w3schools-replica';
    //- var baseURL = 'http://localhost:3000';
    block cool-config 
    head
        meta(charset="UTF-8")
        meta(name="description" content=myDescription)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href=`${baseURL}/style.css`)
        title=myTitle
    body

        include ../header/header

        article 
            block awsome-content

        include ../nav/nav

        include ../footer/footer