extends ../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn JavaScript for beginers';
        var myDescription = 'JavaScript is the programming language of HTML and the Web.';
        var landingPage = 'JavaScript';
        var activeLink = '';

block awsome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Can Change HTML Content
    p  One of many JavaScript HTML methods is getElementById().
    h2 JavaScript Can Change HTML Attribute Values
    p In this example JavaScript changes the value of the src (source) attribute of an img tag
    h2 JavaScript Can Change HTML Styles (CSS)
    p Changing the style of an HTML element, is a variant of changing an HTML attribute
