extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'Learn CSS backgrounds for beginers';
        var myDescription = 'Backgrounds are easy to use';
        var landingPage = 'CSS';
        var activeLink = '/css/backgrounds';

block awsome-content
    h1=myTitle
    p=myDescription
    h2 CSS backgrounds
    p  The CSS background properties are used to define the background effects for elements.
    p CSS background properties:
    ul
        li background-color
        li background-image
        li background-repeat
        li background-attachment
        li background-position

