extends ../../_component/layout/template

block cool-config
    -
        var myTitle = 'HTML headings for beginers';
        var myDescription = 'Headings are really important';
        var landingPage = 'HTML';
        var activeLink = '/html/headings';

block awsome-content
    h1=myTitle
    p=myDescription

    h2 Example

    h1 this a cool heading 1
    h2 this a cool heading 2
    h3 this a cool heading 3
    h4 this a cool heading 4
    h5 this a cool heading 5
    h6 this a cool heading 6

