<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="description" content="This is an HTML replica of w3schools.com")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style.css")
        title W3schools Replica
    body
        header
            a.current(href="/") Home
            a(href="/html") HTML
            a(href="/css") CSS
            a(href="/javascript") JavaScript



        article 
            h1 This is a replica of w3schools.com
            p I'll go through all possible HTML elements as well as CSS to gain knowledge quicker and get used to writing and producing styled HTML pages.

            h2 HTML
            p The language of building web pages. #[a(href="/html") Check it out!]

            h2 CSS
            p The language of styling web pages. #[a(href="/css") Check it out!]

            h2 JavaScript
            p The language of programming web pages. #[a(href="/javascript") Check it out!]

        nav
            h3 HTML and CSS
            a(href="/html") Learn HTML
            a(href="/css") Learn CSS
            a(href="/javascript") Learn JavaScript

        footer &copy; 2018 Iulian Carnaru